body{
background-color:cream;
}
nav{
margin-bottom:50px;
}
.my_footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
}
.my_footer p{
padding-top:20px;
font-size:14px;
}