<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'credentials:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'credentials:register' %}">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'bank:home'%}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branches
          </a>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</a></li>
               <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam</a></li>
               <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Pathanamthitta">Pathanamthitta</a></li>
               <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
               <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alapuzha</a></li>
               <li><a class="dropdown-item" href="#">Idukki</a></li>
               <li><a class="dropdown-item" href="#">Ernakulam</a></li>
               <li><a class="dropdown-item" href="#">Thrissur</a></li>
               <li><a class="dropdown-item" href="#">Palakkad</a></li>
               <li><a class="dropdown-item" href="#">Malappuram</a></li>
               <li><a class="dropdown-item" href="#">Calicut</a></li>
               <li><a class="dropdown-item" href="#">Kannur</a></li>
               <li><a class="dropdown-item" href="#">Wayanad</a></li>
               <li><a class="dropdown-item" href="#">Kasargode</a></li>
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</nav>